<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Hola Administrador <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>

                    <li class="nav-item dropdown">
                        
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Forms</a></li>
                            <li><a class="dropdown-item" href="#">Tables</a></li>
                            <li><a class="dropdown-item" href="#">Charts</a></li>
                            <li><a class="dropdown-item" href="#">Icons</a></li>
                        </ul>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Empresas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Areas de Mercado</a>
                    </li>

                </ul>

                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" class="btn btn-outline-success">
                </form>

            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe1m+Qv+fq3u9573xu9G+EGyzFshdKtxR1hky4gkEOm8sQzG1e7jk" crossorigin="anonymous"></script>
</body>
</html>
