<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Empresa para el Vendedor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<h3>Seleccionar una Empresa para el Vendedor</h3>
<hr>

<div class="container mt-3">
  <form th:action="@{/admin/vendedor/agregarEmpresa}" method="post" th:object="${vendFormulario}">

    <input type="hidden" th:field="*{id}">

    <table>
      <tbody>
      <tr th:each="empresa : ${empresas}">
        <td th:text="${empresa.nombre}"></td>
        <td>
          <input type="radio" th:field="*{empresa}" th:value="${empresa}" />
        </td>
      </tr>
      </tbody>
    </table>
    <br>

    <button type="submit">Seleccionar</button>

  </form>

  <br>
  <a th:href="@{/admin/usuarios/listarAdmin}">Volver al Directorio de Administradores</a>

</div>

</body>
</html>