<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Ciudad</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<!--         NAVBAR      -->
<div th:replace="~{navbar :: navbar}"></div>
<!--        FIN NAVBAR      -->
    <a class="btn btn-sm center btn" th:href="@{/admin/empresas/ubicaciones/listar}">Volver al listado de Ciudades</a>
    <a class="btn btn-sm center btn" th:href="@{/admin/empresas/listar}">Crear Pais</a>
    <div class="container mt-3">
        <form th:action="@{/admin/empresas/ubicaciones/agregar(idTemporal=${ciudad.id})}" method="post" th:object="${ciudad}">
            <h3>Registro de Ciudad</h3>
            <hr>
            <input type="hidden" th:field="*{id}" />
            
            <input type="text" th:field="*{nombre}" placeholder="nombre"
            class="form-control" required>

            <label for="pais_ciudad">Pais:</label>
            <select id="pais_ciudad" name="pais_ciudad.id" class="form-control mb-4" th:field="*{pais_ciudad.id}">
                <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.nombre}"></option>
            </select>

            <input type="hidden" th:field="*{eliminado}" />

            <button type="submit" class="btn btn-primary mt-0 col-4">Agregar</button>
            <br>
        </form>
    </div>
    
</body>
</html>