<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Ciudad</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="~{navbar :: navbar}"></div>
    <a class="btn btn-sm center btn" th:href="@{/admin/empresas/ubicaciones/listarPaises}">Volver al listado de Países</a>
    <a class="btn btn-sm center btn" th:href="@{/admin/empresas/ubicaciones/listar}">Volver al listado de Ciudades</a>
    <div class="container mt-4">
       
        <form th:action="@{/admin/empresas/ubicaciones/agregarPais(idTemporal=${pais.id})}" method="post" th:object="${pais}">
            <h3 class="mt-0">Registro de País</h3>
            <hr>
            <input type="hidden" th:field="*{id}" />

            
            <input type="text" th:field="*{nombre}" placeholder="nombre"
            class="form-control mb-4" maxlength="25" required>

            <input type="text" th:field="*{pbi}" placeholder="pbi"
                   class="form-control mb-3" required>

            <label class="mt-0 mb-1" for="capital">Capital:</label>
            <select id="capital" name="capital.id" class="form-control mb-4" th:field="*{capital.id}" required>
                <option th:each="ciudad : ${ciudades}" th:value="${ciudad.id}" th:text="${ciudad.nombre}" required></option>
            </select>

            <input type="text" th:field="*{habitantes}" placeholder="habitantes"
                   class="form-control mb-4" required>


            <input type="hidden" th:field="*{eliminado}" />

            <button type="submit" class="btn btn-primary mt-1 col-2">Agregar</button>
            <br>
        </form>
        <!---------------------------
        <a th:href="@{/admin/empresas/listar}">Crear Pais</a>
        <a th:href="@{/admin/empresas/ubicaciones/listar}">ABM Ubicaciones</a>
            ------------------------------------->
    </div>
    
</body>
</html>