<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Areas de Mercado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
</head>
<body>
    <div th:replace="~{navbar :: navbar}"></div>

    <div class="container mt-3 " id="container">
        <h3>Areas</h3>
        <div>
            <a th:href="@{/admin/areasMercado/formulario}"
               class="btn btn-primary btn-sm mt-1 mb-3">
                Agregar Area de Mercado
            </a>
        </div>


        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">Nombre</th>
                    <th class="col-2">Descripción</th>
                    <th class="col-1">ABM</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="area : ${areas}">
                    <td th:text="${area.nombre}"></td>
                    <td th:text="${area.descripcion}"></td>

                    <td>
                        <a th:href="@{/admin/areasMercado/actualizar(idTemporal=${area.id})}" class="btn btn-info btn-sm mb-1 col-4">
                            Actualizar</a>

                        <a th:href="@{/admin/areasMercado/eliminar(idTemporal=${area.id})}"
                        class="btn btn-danger btn-sm mb-1 col-
                        4"
                        onclick="if (! (confirm('Seguro desea eliminar el registro?'))) return false">Eliminar</a>
                    </td>

                </tr>
            </tbody>

        </table>
    </div>

</body>
</html>