<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Credenciales</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
      <!--AGREGO FILTROS A LA VISTA -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
</head>
<body>
  <div th:replace="~{navbar :: navbar}"></div>

<div class="container mt-3" style="max-width: 18cm;" id="container">
  <h3>Usuarios</h3>

  <table class="table table-bordered table-striped col-8" id="tablaUsuarios"> 
    <thead class="table-dark">
    <tr>
      <th class="col-1">ID</th>
      <th class="col-1">Nombre</th>
      <th class="col-1">Apellido</th>
      <th class="col-1">Credencial</th>
      <th class="col-1">Alta o Baja</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="empleado : ${empleados}">
      <td th:text="${empleado.id}"></td>
      <td th:text="${empleado.nombre}"></td>
      <td th:text="${empleado.apellido}"></td>
      <td>
            <th:block th:if="${!usuarios.contains(empleado)}" >
              <p class="text">Deshabilitado</p>  
            </th:block>
            <th:block th:if="${usuarios.contains(empleado)}">
              <p class="text">Habilitado</p>            
            </th:block>                    
      </td>        
      <td>
        <a th:if="${!usuarios.contains(empleado)}" th:href="@{/admin/panelAdmin/habilitarUsuario(idTemporal=${empleado.id})}" class="btn btn-success ms-1 btn-sm">
            Habilitar</a>
        <a th:if="${usuarios.contains(empleado)}" th:href="@{/admin/panelAdmin/deshabilitarUsuario(idTemporal=${empleado.id})}"  
        method="post" class="btn btn-danger btn-sm sm-1" onclick="if (! (confirm('Desea quitar las credenciales al usuario?'))) return false">
          Deshabilitar</a>    
      </td>
    </tr>
    </tbody>

  </table>
</div>
    <!--AGREGO FILTROS A LA VISTA -->
    <script>
      $(document).ready(function() {
           $('#tablaUsuarios').DataTable(
               {"language": {
               "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
           }}
           );
       });  
</script>
</body>
</html>

