<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Vendedor</title>
</head>
<body>
    <header>
        <div>
            <h2>Nombre del Vendedor</h2>
        </div>
        <div>
            <h2>Nombre de la Empresa</h2>
        </div>
    </header>

    <main>
        <section>
            <p>Codigo de vendedor</p>
            
            <p>Direccion</p>
        </section>
            <button>Vendedores Captados</button>

            <table>

                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha captacion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>12345</td>
                        <td>Maxi</td>
                        <td>Stein</td>
                        <td>N/A</td>
                    </tr>

                    <tr>
                        <td>12346</td>
                        <td>Mati</td>
                        <td>Di Lella</td>
                        <td>N/A</td>
                    </tr>

                </tbody>

            </table>
        <section>
            
        </section>
    </main>
    
    <footer>
        <p>Stein&DiLella Inc.</p>
    </footer>
</body>
</html>